<link rel="stylesheet" href="../../public/style.css">

<nav class="navbar background">
    <ul class="nav-list">
        <li><a href="/">Cinénode</a></li>
        <li><a href="/movies">Mes Films</a></li>
        <li><a href="/movie-search">Recherche MovieDB</a></li>
        <li><span id="connectionLink"><a href="/login">Connexion</a></span></li>
    </ul>
</nav>
